<html>
  <head>
    <title>My webpage</title>

    <style>
      .myheader {
        font-size: 20px;
        color: red;
        font-family: "Courier New", Courier, monospace;
      }
      img {
        height: 200;
        border: 2px solid green;
      }
      p {
        color: red;
      }
    </style>
  </head>
  <body>
    <h1>Hello {{ front_end_data }}</h1>
    <h1 id="user_feedback">dummy data</h1>
    <h1 class="myheader">Header 1</h1>
    <h1>H1</h1>
    <h3>H3</h3>
    <p></p>
    <p><strong>strong</strong></p>
    <br />
    <hr />
    <video></video>
    <img
      src="https://media.newyorker.com/photos/59095c67ebe912338a37455d/master/pass/Stokes-Hello-Kitty2.jpg"
    />
    <a href="https://www.gogole.com.au"></a>
    <a href="https://www.gogole.com.au"><button>button</button></a>
    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/jX4pWm0XDpU?si=lA0h8ZKS8bfFr2sv"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen
    ></iframe>
  </body>
  <script src="static/js/script.js"></script>
</html>
